<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Management Committee</title>
</head>
<body>
    
    <div class="container">
        <h2>Hostel Management Committee Member Details</h2>
        <form class="form" action="index.html" method="post" enctype="multipart/form-data">
          <div class="list">
            <label for="Name">Name :</label>
            <input type="text" name="Name" value="">
          </div>
          <div class="list">
            <label for="Post">Post :</label>
            <input type="text" name="Post" value="">
          </div>
          <div class="list">
            <label for="photo">Image :</label>
            <input type="file" name="photo" value="">
          </div>
          <div class="list">
            <label for="num">Contact No. :</label>
            <input type="number" name="num" value="">
          </div>
          <div class="list">
            <label for="emailid">Email id :</label>
            <input type="email" name="emailid" value="">
          </div>
          <div class="list">
            <label for="room">Room No. :</label>
            <input type="text" name="room" value="">
          </div>
          <button type="submit" name="button" id="button">Submit</button>
  
        </form>
      </div>
      <style >
        body{
          background: #43e5f7;
        }
        .container{
          margin-left: 600px;
          margin-top: 50px;
        }
        .list{
          margin-top: 30px;
        }
        #button{
          margin-top: 50px;
          margin-left: 30px;
          height: 40px;
          width: 100px;
          background: #5ef553;
        }
      </style>
  
</body>
</html>